<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
   {{!-- <script src="script.js"></script> --}}
</head>
<body>

    <!----------------------------------- top --------------------------->
   <div class="top">
    <div class="topLeft"><br>
        <i class="topIcon fa-brands fa-facebook-square"></i>
        <i class="topIcon fa-brands fa-twitter-square"></i>
        <i class="topIcon fa-brands fa-pinterest-square"></i>
        <i class="topIcon fa-brands fa-instagram-square"></i>
    </div>
    <nav class="topCenter">
       <ul class="topList">
       <li class="topListItem">
        <a href="/blog">HOME</a>
       </li> 
       <li class="topListItem">
        <a href="/allblogs">BLOGS</a>
        </li>
       <li class="topListItem">
        <a href="/update">UPDATE</a>
       </li>
       <li class="topListItem">
        <a href="/delete">DELETE</a>
       </li>
       {{!-- <li class="topListItem">
        <a href="/logout">LOGOUT</a>
       </li> --}}
    </ul>
    </nav>
    {{!-- <div class="topRight">
        <img  class="topImg" src="https://healthcare.ascension.org/-/media/healthcare/national/service-lines/hero/womens-health.jpg?h=800&iar=0&w=1200&hash=02B0A60381821943B91CAF9FF6639035" alt="" />
        <i class="topSearchIcon fa-solid fa-magnifying-glass"></i>
    </div> --}}
        <div class="dropdown topright">
      <button class="dropbtn">USER</button>
      <div class="dropdown-content">
        <a href="#">setting</a>
        <a href="/profile">view profile</a>
        <a href="/logout">logout</a>
      </div>
    </div>
</div>
    <!------------------------------------------ header ----------------------------------------------->
    {{!-- <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{message}}
    </div> --}}

   <div class="body">
         <div class="container">
           <div class="title">Get Blog</div>
            {{!--  <div class="content"> --}}
              {{!-- <form action="/blogs" method="get"> --}}
                {{!-- <div class="user-details"> --}}
                  {{!-- <div class="input-box">
                    <span class="details">Title</span>
                    <input type="text" placeholder="Enter Title" required name="title">
                  </div> --}}
                  {{!-- <div class="input-box">
                    <span class="details">Body</span>
                    <input type="text" placeholder="Enter Body" required name="body">
                  </div> --}}
                  {{!-- <div class="input-box">
                    <span class="details">Author Id</span>
                    <input type="text" placeholder="Enter Author Id"  name="authorId">
                  </div>
                  <div class="input-box">
                    <span class="details">Tags</span>
                    <input type="text" placeholder="Enter Tags" name="tags">
                  </div>
                  <div class="input-box">
                    <span class="details">Category</span>
                    <input type="text" placeholder="Enter Category"  name="category">
                  </div>
                  <div class="input-box">
                    <span class="details">Sub Category</span>
                    <input type="text" placeholder="Enter Sub Category"  name="subcategory">
                  </div>
                </div> --}}
                {{!-- <div class="button">
                  <input type="submit" value="GET">
                </div> --}}

              {{!-- </form> --}}
                 {{!-- <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100"> --}}

    {{!-- <div class="container-login100-form-btn">
      <button class="login100-form-btn" onclick="getData()">
        All Blogs
      </button>
    </div> --}}
      {{!-- <a class="right" onclick="getData()">
        Get Data
        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
    </a> --}}
    

 <form  class="login100-form validate-form">
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        {{!-- <th>authorId</th>  --}}
        <th>Tags</th>
        <th>Category</th>
       <th>Subcategory</th>
      </tr>
    </thead>
    <tbody id="table_data">

    </tbody>
  </table>
  </form>

            </div>
          </div> 
        </div>

<script>

 fetch("/blogs").then((data)=>{
        return data.json(); //converted to object
        })

        .then((objectData)=>{
            console.log(objectData.data[0])
            let Data =objectData.data
            let tableData=""; 
            Data.map((values)=>{
                tableData+=
            `<tr>
            <td>${values._id}</td>
            <td>${values.title}</td>
            <td>${values.body}</td>
            {{!-- <td>${values.authorId}</td> --}}
            <td>${values.tags}</td>
            <td>${values.category}</td>
            <td>${values.subcategory}</td>
            

            </tr> `;        
            })

            document.getElementById("table_data")
            .innerHTML=tableData;
        })


</script>



</body>
</html>

